@keyframes cyan-background-glow {
	0% {
		background-color: var(--sub-bg);
	}
	70% {
		background-color: #2bdada;
	}
	100% {
		background-color: var(--sub-bg);
	}
}

.animation-switcher {
	animation: cyan-background-glow 2s infinite;
}

#view {
	background: var(--sub-bg);
	color: var(--font-col);
	font-size: 30px;
	padding: 5px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	position: relative;
}

#player-container {
	min-width: 840px;
	max-width:2000px;
	margin:auto;
}

.player-control-part {
	min-width:800px;
	max-width:800px;
	background: var(--sub-bg-dark);
	border-radius: 5px;
	padding: 5px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2px;
	margin-bottom: 2px;
}

.player-control-vpart {
	margin-left: 1px;
	margin-right: 1px;
}

.player-control-span {
	background: var(--sub-bg-dark);
	border-radius: 5px;
	padding: 5px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2px;
	margin-bottom: 2px;
}

.player-control-label {
	font-size: 20px;
	margin-left: auto;
	margin-right: auto;
}

.player-control-text {
	font-size: 20px;
}

.player-select {
	background-color: var(--select);
	border: none;
	margin: 5px;
	width: 200px;
	font-size: 25px;
}

.player-control-slider {
	width: 100%;
}

.player-control-button {
	width: 50px;
	height: 40px;
	background: var(--main-bg);
	border-color: var(--font-col);
	border-radius: 5px;
	border-style: solid;
	border: none;
	outline: none;
	justify-content: center;
	align-items: center;
	position: relative;
}

.player-control-button:disabled {
	background: var(--disabled);
}

.player-menu-button {
	height: 40px;
	background: var(--main-bg);
	border-color: var(--font-col);
	border-radius: 5px;
	border-style: solid;
	border: none;
	outline: none;
	color: var(--font-col);
	font-size: 20px;
}

.player-control-button:hover, .player-menu-button:hover {
	outline: solid var(--highlight);
}

.player-control-button:active, .player-menu-button:active {
	animation: animation-button-press 0.1s;
	outline: solid var(--active);
}

.player-control-button:disabled, .player-menu-button:disabled {
	animation: none;
}

.player-menu {
	background: var(--sub-bg-st);
	color: var(--font-col-alt);
	border-color: var(--font-col-alt);
	border-radius: 5px;
	border-style: solid;
}

.player-scroll-list {
	padding-right:10px;
}

.player-scroll-list-playlist {
	width: 500px;
}

.player-scroll-list-texture {
	width: 700px;
}

.player-button-enabled {
	background: var(--enabled);
	color: var(--font-col-alt);
}

.player-button-warning {
	background: var(--warning);
	color: var(--font-col-alt);
}

.player-control-texture-delete-button {
	background: var(--warning);
}

.user-prompt {
	position: fixed;
	top: 0px;
	left: 0px;
	background: var(--sub-bg-st);
	z-index:100;
	width: 100%;
	height: 100%;
}

.user-prompt-button {
	width: 500px;
	margin-left: auto;
	margin-right: auto;
}

/* mobile/tablet layout */
@media (hover: none) or (pointer: coarse) {
	@media (orientation: portrait) {
		#player-container {
			will-change: transform;
			transform-origin: top left;
			/*margin-bottom: calc(-80vh);*/
		}
		
		#view {
		}

		.player-select {
			font-size: 40px;
		}
		
		.player-control-hpart {
			font-size: 30px;
			text-overflow: clip;
			overflow: hidden;
			white-space: nowrap;
		}

		.player-control-text {
			width: 180px;
			font-size: 30px;
			text-overflow: clip;
			overflow: hidden;
			white-space: nowrap;
		}

		.player-control-slider {
			width: 100%;
			min-height: 50px;
		}

		.player-control-label {
			font-size: 30px;
			text-overflow: clip;
			overflow: hidden;
			white-space: nowrap;
		}
		
		.player-control-button {
			min-width: 100px;
			min-height: 100px;
			margin: 10px;
		}
		
		.player-control-button > img {
			width: 100%;
			height: 100%;
		}

		.player-menu-button {
			height: 40px;
			font-size: 30px;
			margin-top: 10px;
			margin-bottom: 10px;
		}
		
		.user-prompt {
			font-size: 24px;
		}

		.user-prompt-button {
			width: 90%;
			margin-top: 10px;
			margin-bottom: 10px;
			font-size: 20px;
		}
	}

	@media (orientation: landscape) {
	}
}